:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color:#3666AC;
  --main-color-dark:#15376F;
  --sub-color:#FFCC03;
  --point-color: #EC1D27;
}

@font-face {
  font-family: 'Paperlozy-R';
  src: url('/fonts/Paperlogy-4Regular.woff2') format('woff2'),
    url('/fonts/Paperlogy-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Paperlozy-B';
  src: url('/fonts/Paperlogy-7Bold.woff2') format('woff2'),
    url('/fonts/Paperlogy-7Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paperlozy-EB';
  src: url('/fonts/Paperlogy-8ExtraBold.woff2') format('woff2'),
    url('/fonts/Paperlogy-8ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 10px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-bottom: 150px;
  font-size: 1.6rem;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Paperlozy-R', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,li,ol { list-style: none; }
a {
  color: inherit;
  text-decoration: none;
}
img { vertical-align: middle; }
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
