/* [project]/styles/sub.css [app-client] (css) */
.detail-container {
  gap: 90px;
  margin: 70px 0 120px;
  display: flex;
}

.detail-card-img {
  aspect-ratio: 3 / 4;
  background-color: var(--main-color);
  border-radius: 15px;
  flex-shrink: 0;
  flex-basis: 325px;
  padding: 30px;
  position: relative;
}

.monster-ball {
  z-index: 5;
  animation: 1.5s ease-in-out infinite shaking;
  position: absolute;
  bottom: -50px;
  left: -50px;
}

@keyframes shaking {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(20deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  30% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.detail-card-img .img-container {
  outline: 8px solid var(--sub-color);
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.detail-card-img .img-container img {
  max-width: 80%;
}

.detail-container .detail-text {
  flex-grow: 1;
  padding-top: 20px;
  position: relative;
}

.detail-container .monster-detail-index {
  background-color: var(--main-color-dark);
  color: #fff;
  border-radius: 6px;
  padding: 2px 10px;
  font-size: 2rem;
  display: inline-block;
}

.detail-container .monster-detail-name {
  margin-top: 25px;
  font-family: Paperlozy-EB;
  font-size: 3.2rem;
}

.detail-container .detail-info {
  margin-top: 50px;
  font-size: 2.4rem;
}

.detail-btn-container {
  gap: 20px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.detail-btn-container .btn-style {
  text-align: center;
  background: var(--sub-color);
  border: unset;
  border-radius: 10px;
  flex-basis: calc(50% - 10px);
  height: 50px;
  font-size: 2rem;
  line-height: 50px;
  transition: all .3s;
}

.detail-btn-container .btn-style:hover {
  background: linear-gradient(230deg, var(--main-color-dark), var(--main-color));
  color: #fff;
  background-size: 200% 200%;
  animation: 1.3s infinite gradientBack;
}

.scrap-button.off {
  color: #000;
  cursor: initial;
  background-color: #e0e0e0;
}

.scrap-button.off:hover {
  background: unset;
  color: #000;
  animation: unset;
  background-color: #e0e0e0;
}

@keyframes gradientBack {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.my-collection-section {
  margin: 70px auto 150px;
}

.my-collection-title {
  text-align: center;
  margin-bottom: 70px;
  font-family: Paperlozy-EB;
  font-size: 3.6rem;
}

.slotWrapper {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.scrap-slots-container {
  border: 1px solid var(--main-color-dark);
  aspect-ratio: 3 / 4;
  border-radius: 15px;
  width: 330px;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}

.scrap-slot {
  background-color: var(--main-color);
  perspective: 1000px;
  height: 100%;
  position: relative;
}

.scrap-slot:hover {
  background: var(--main-color);
}

.scrap-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .25s;
  position: relative;
}

.scrap-inner.rotate {
  transform: rotateY(180deg);
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  padding: 30px;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  width: 100%;
  height: 100%;
}

.scrap-slot .img-box {
  aspect-ratio: 236 / 240;
  outline: 6px solid var(--sub-color);
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.scrap-slot .img-box img {
  max-width: 75%;
}

.scrap-type {
  background-color: var(--sub-color);
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 4px 10px;
  font-size: 1.4rem;
  display: inline-block;
}

.scrap-slot.empty-type {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
}

.scrap-slot.empty-type .front {
  justify-content: center;
  align-items: center;
  display: flex;
}

.more-view-btn {
  background-color: var(--main-color-dark);
  color: #fff;
  text-align: center;
  border: unset;
  border-radius: 15px;
  width: 330px;
  height: 55px;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 51px;
  display: none;
}

.more-view-btn:hover {
  background: linear-gradient(230deg, var(--main-color-dark), var(--main-color));
  background-size: 200% 200%;
  animation: 1.3s infinite gradientBack;
}

.more-view-btn.on {
  display: block;
}

.modal-backdrop {
  z-index: 9;
  background-color: rgba(0, 0, 0, .45);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px var(--main-color-dark);
  background-color: #fff;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 25px 25px 60px;
  overflow: hidden;
}

.modal-container .img-box {
  text-align: center;
  border: 5px solid var(--sub-color);
  background-color: #fff;
  border-radius: 20px;
}

.modal-container .text-box {
  text-align: center;
  padding-top: 20px;
}

.modal-container .monster-index {
  color: #fff;
  font-weight: bold;
}

.modal-container .monster-name {
  color: #fff;
  margin-top: 10px;
  font-size: 2.4rem;
}

.modal-container ul {
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  display: flex;
}

.modal-container ul li {
  flex-basis: calc(50% - 10px);
}

.modal-container ul button, .modal-container ul .modal-more-view-btn {
  width: 100%;
  height: 50px;
  color: var(--main-color-dark);
  border: unset;
  background-color: #fafafa;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: Paperlozy-B;
  font-size: 2rem;
  transition: all .2s;
  display: flex;
}

.modal-container ul button:hover, .modal-container ul .modal-more-view-btn:hover {
  background-color: #bdbdbd !important;
}

.modal-container .swiper {
  overflow: visible;
}

.modal-container .swiper-pagination {
  top: unset;
  bottom: -40px !important;
}

.modal-container .swiper-pagination-bullet {
  background-color: #fff;
}

@media (max-width: 1249px) {
  .monster-ball {
    left: -16px;
  }
}

@media (max-width: 1100px) {
  .detail-container {
    gap: 40px;
  }

  .my-collection-section {
    margin: 40px auto 50px;
  }

  .my-collection-title {
    margin-bottom: 40px;
  }

  .slotWrapper {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .detail-container {
    flex-direction: column;
  }

  .detail-card-img {
    aspect-ratio: inherit;
  }

  .detail-card-img .img-container img {
    max-width: unset;
    width: 215px;
  }

  .detail-container .detail-text {
    text-align: center;
    padding-top: 10px;
  }

  .detail-container .monster-detail-index {
    font-size: 1.8rem;
  }

  .detail-container .monster-detail-name {
    margin-top: 15px;
    font-size: 2.8rem;
  }

  .detail-container .detail-info {
    margin-top: 20px;
    font-size: min(2rem, 4.7vw);
  }

  .detail-btn-container {
    position: unset;
    gap: 10px;
    margin-top: 20px;
  }

  .detail-btn-container .btn-style {
    flex-basis: calc(50% - 5px);
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .my-collection-title {
    font-size: min(2.6rem, 6vw);
  }

  .slotWrapper {
    height: 300px;
  }

  .detail-container {
    margin-top: 40px;
  }

  .scrap-slots-container {
    aspect-ratio: 3 / 4.5;
    border-radius: 15px;
    width: 180px;
    overflow: hidden;
  }

  .front {
    padding: 0;
  }

  .scrap-slot.empty-type {
    font-size: 1.8rem;
  }

  .more-view-btn {
    border-radius: 10px;
    height: 45px;
    font-size: 1.6rem;
    line-height: 45px;
  }
}

@media (max-width: 430px) {
  .modal-container {
    width: calc(100% - 30px);
  }

  .modal-container ul button, .modal-container ul .modal-more-view-btn {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=styles_sub_css_bad6b30c._.single.css.map*/