#all-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-box {
    display: flex;
    gap: 12px;
    align-items: center;
}
.menu-box button {
    width: 43px;
    height: 43px;
    border-radius: 500px;
    background-color: var(--main-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4;
}
.menu-box li {
    padding: 6px;
    border: 1px solid var(--sub-color);
    background-color: var(--sub-color);
    border-radius: 100%;
    transition: all 0.2s;
}

.menu-box li:hover {
    box-shadow: 0 0 0 rgb(21, 55, 111, 0.5);
    animation: bounce 1.7s ease infinite;
}
@keyframes bounce {
    0% {
        box-shadow: 0 0 0 rgb(21, 55, 111, 0.5);
    }
    50% {
        box-shadow: 0 3px 16px rgb(21, 55, 111, 0.5);
    }
    100% {
        box-shadow: 0 0 0 rgb(21, 55, 111, 0.5);
    }
}
.menu-box li.search {
    display: flex;
    transition: all 0.4s;
}
.menu-box li.search:focus-within {
    box-shadow: 0 4px 16px rgb(21, 55, 111, 0.5);
}
.menu-box #search-pokemon {
    display: inline-block;
    border: unset;
    border-radius: 500px;
    width: 0;
    margin-right: 0;
    background-color: var(--sub-color);
    transition: all 0.4s;
}
.menu-box #search-pokemon:focus {
    border: unset;
    outline: unset;
}

.menu-box li.search.on {
    border-radius: 500px;
}
.menu-box li.search.on #search-pokemon {
    width: 300px;
    padding-left: 12px;
}
.menu-box li.search.on button {
    background: linear-gradient(270deg, var(--main-color-dark), var(--main-color));
    background-size: 200% 200%;
    animation: gradientBack 1.3s ease infinite;
}
@keyframes gradientBack {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.main-message-container {
    margin: 40px auto 0;
}
.main-message-container p {
    font-family: 'Paperlozy-EB';
    font-size: 4rem;
    color: var(--main-color-dark);
    text-align: center;
}
.loading-state {
    margin: 30px 0;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Paperlozy-EB';
}
.cardslot-container {
    margin: 70px 0 120px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cardslot-container > a {
    flex-basis: calc(25% - 30px);
}
.card-slot {
    border-radius: 15px;
    background-color: var(--main-color);
    padding: 15px 15px 20px;
}
.card-slot:hover {
    background: linear-gradient(235deg, #000, var(--main-color));
    background-size: 200% 200%;
    animation: gradientBack 2s linear infinite;
}

.card-slot .img-box {
    position: relative;
    aspect-ratio: 236 / 180;
    border-radius: 15px;
    outline: 3px solid var(--sub-color);
    background-color: #fff;
    text-align: center;
}
.card-slot .monster-index {
    position: absolute;
    top: 10px;
    left: 7px;
    z-index: 3;
    color: #fff;
    border-radius: 5px;
    background-color: var(--main-color-dark);
    padding: 3px 7px;
    font-size: 1.3rem;
}
.card-slot img { max-width: 70%; }

.card-slot .text-box {
    margin-top: 20px;
    text-align: center;
}
.card-slot .monster-name {
    font-size: 2.4rem;
    color: #fff;
}
.card-slot .types-container {
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.card-slot .monster-type {
    display: inline-block;
    background-color: var(--sub-color);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.4rem;
}