#all-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.loading-first{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
}
.loading-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loading-inner p {
    font-weight: 800;
    font-size: 4rem;
    margin-top: 10px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.3; }
}

.main-list-section {
    padding:0 0 120px 0;
}
.main-message-container {
    margin: 40px auto 0;
}
.main-message-container p {
    font-weight: 800;
    font-size: 4rem;
    color: var(--main-color-dark);
    text-align: center;
}
.loading-state {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
}
.cardslot-container {
    margin-top: 70px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cardslot-container > a {
    flex-basis: calc(25% - 23px);
}
.card-slot {
    border-radius: 15px;
    background-color: var(--main-color);
    padding: 15px 15px 20px;
}
.card-slot:hover {
    background: linear-gradient(235deg, #000, var(--main-color));
    background-size: 200% 200%;
    animation: gradientBack 2s linear infinite;
}

.card-slot .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 236 / 180;
    border-radius: 15px;
    outline: 3px solid var(--sub-color);
    background-color: #fff;
    text-align: center;
}
.skeleton-img {
    width: 93%;
    height: 90%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.skeleton-scrap-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.skeleton-img > .monster-ball { position: unset; }
.skeleton-scrap-img > .monster-ball { position: unset; }
.skeleton-scrap-img > p {
    font-size: 4rem;
    font-weight: bold;
    color: var(--sub-color);
    text-shadow: -2px -2px 0 var(--main-color-dark), 2px -2px 0 var(--main-color-dark), -2px  2px 0 var(--main-color-dark), 2px  2px 0 var(--main-color-dark);
    letter-spacing: 1.5px;
}
.card-slot .monster-index {
    position: absolute;
    top: 10px;
    left: 7px;
    z-index: 3;
    color: #fff;
    border-radius: 5px;
    background-color: var(--main-color-dark);
    padding: 3px 7px;
    font-size: 1.3rem;
}
.card-slot img { max-width: 70%; aspect-ratio: 1; height: auto;}

.card-slot .text-box {
    margin-top: 20px;
    text-align: center;
}
.card-slot .monster-name {
    font-size: 2.4rem;
    color: #fff;
}
.card-slot .types-container {
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.card-slot .monster-type {
    display: inline-block;
    background-color: var(--sub-color);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.4rem;
}
@media(max-width:767px) {
    .loading-inner img {
        width: 80%;
    }
    .loading-inner p {
        font-size: 2.6rem;
    }
    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }
    .menu-box li.search.on #search-pokemon {
        width: 210px;
    }
    .main-message-container {
        margin: 20px 0;
    }
    .main-message-container p {
        font-size: min(2.6rem,6vw);
    }
    .cardslot-container {
        margin-top: 40px;
        gap: 15px;
    }
    .cardslot-container > a {
        flex-basis: calc(50% - 7.5px);
    }
    .card-slot .monster-index {
        font-size: 1rem;
        top: 5px;
        left: 5px;
    }
    .card-slot .text-box {
        margin-top: 10px;
    }
    .card-slot .monster-name {
        font-size: 1.8rem;
    }
    .card-slot .types-container {
        margin-top: 10px;
    }
    .card-slot .monster-type {
        padding: 2px 8px;
        font-size: 1.2rem;
    }
}